@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #280063;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #280063;
    --foreground: #ededed;
  }
}

body {
   text-shadow: 1px 1px 2px var(--background); 
  color: var(--foreground);
  background:var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
